<html lang="en">
<head>
    <title>Administration Panel</title>
</head>
<body>
    {% load static %}
    {% include 'survey/navbar.html' %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://unpkg.com/js-yaml@4.1.0/dist/js-yaml.min.js"></script>
    <script rel="javascript" type="text/javascript" src="{% static 'survey/js/admin.js' %}"></script>

    <h1 class="text-center">Administration Panel</h1>
    <br>
    <div class="container">
        <p>Upload YAML configuration file to add/modify collections:</p>
        <form method="post" action="" enctype="multipart/form-data" class="post-form">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <input type="file" id="myFile" name="file" class="form-control" accept=".yaml">
                    </div>
                    <div class="col-sm">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </form>
        <br>
        Collection Results:
        <div class="list-group list-group-flush">
        {% for collection in collection_list %}
            <a class="list-group-item list-group-item-action" href="{% url 'survey:results' %}?&survey_collection_id={{ collection.id }}">Collection {{ collection.id }}</a>
        {% endfor %}
        </div>
    </div>
</body>
</html>