{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include 'survey/navbar.html' %}
    {% load survey_extras %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script rel="javascript" type="text/javascript" src="{% static 'survey/js/collection.js' %}"></script>
    <h1 class="text-center"> Survey Images Collection {{ survey_collection_id }} </h1>

    <div>
        <form method="post" action="{% url 'survey:collection' %}?survey_collection_id={{ survey_collection_id }}">
            {% csrf_token %}
            <label>Show Only Unvoted Images</label>
            <input type="checkbox" name="show_only_unvoted" onchange="this.form.submit()" {% if show_only_unvoted == True %} checked {% endif %}>
        </form>
    </div>

    <div id="alert-box"></div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
        {% for img, ans in images_dict.items %}
            <div class="col">
                {% if ans.choice == None %}
                    <div class="card border-danger mb-3" style="width: 18rem;">
                        <a href="{% url 'survey:survey' %}?img={{ img.image.id }}&survey_collection={{ img.survey_collection.id }}"><img src="{% encode_static img.image.path %}" class="card-img-top" alt="{{ img.image.name }}"></a>
                        <div class="card-body text-danger">
                            <h5 class="card-title">{{ img.image.name }}</h5>
                            <!-- <p class="card-text">No Answer</p> -->
                            <p class="card-text">Choices:</p>
                            <form method="post" action="" id="post-form">
                                {% csrf_token %}
                                {% for choice in choices %}
                                    <div class="form-check">
                                        <input class="from-check-input" type="radio" id="{{ img.id }}.{{ choice.id }}" name="answer" value="{{ choice.id }}">
                                        <label class="form-check-label" for="{{ img.id }}.{{ choice.id }}">{{ choice.name }}</label>
                                    </div>
                                {% endfor %}
                                <br>
                                <input type="hidden" name="img" value="{{ img.id }}">
                                <input type="hidden" name="survey_collection" value="{{ img.survey_collection.id }}">
                                <input type="submit" class="btn btn-primary" value="Make Answer">
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="card border-success mb-3" style="width: 18rem;">
                        <a href="{% url 'survey:survey' %}?img={{ img.image.id }}&survey_collection={{ img.survey_collection.id }}"><img src="{% encode_static img.image.path %}" class="card-img-top" alt="{{ img.image.name }}"></a>
                        <div class="card-body">
                            <h5 class="card-title text-success">{{ img.image.name }}</h5>
                            <!-- <p class="card-text">Answers: {{ ans.choice }}</p> -->
                            <p class="card-text">Choices:</p>
                            <form method="post" action="" id="post-form">
                                {% csrf_token %}
                                {% for choice in choices %}
                                    <div class="form-check">
                                        <input class="from-check-input" type="radio" id="{{ img.id }}.{{ choice.id }}" name="answer" value="{{ choice.id }}"
                                                {% if ans.choice.name == choice.name %}
                                                    checked
                                                {% endif %} >
                                        <label class="form-check-label" for="{{ img.id }}.{{ choice.id }}">{{ choice.name }}</label>
                                    </div>
                                {% endfor %}
                                <br>
                                <input type="hidden" name="img" value="{{ img.id }}">
                                <input type="hidden" name="survey_collection" value="{{ img.survey_collection.id }}">
                                <input type="submit" class="btn btn-primary" value="Change Answer">
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>