{% load static %}
{% include 'survey/navbar.html' %}

<h1 class="text-center"> {{ image.description }} </h1>

<form method="POST" action="">
    {% csrf_token %}
    <div class="container">
        <div class="text-center">
            <img src="{% static image.path %}" alt="{{ image.description }}" class="img-thumbnail">
        </div>
        <br>
        <h3 class="text-start">Choose an answer:</h3>
        {% for choice in choices %}
            <div class="form-check">
                <input class="from-check-input" type="radio" id="{{ choice.id }}" name="answer" value="{{ choice.id }}"
                        {% if selected_choice and choice.id == selected_choice.choice_id %}
                            checked
                        {% endif %} >
                <label class="form-check-label" for="{{ choice.id }}">{{ choice.name }}</label>
            </div>
        {% endfor %}
        <br><br>
        <h4 class="text-start">Comment (optional):</h4>
        <br>
        <textarea rows="5" cols="70" name="comment" >{% if comment %} {{ comment }} {% endif %}</textarea>
        <input type="hidden" name="img" value="{{ image.id }}">
        <input type="hidden" name="survey_collection" value="{{ image.survey_collection_id }}">
        <br><br>
        <input class="btn btn-primary" type="submit" name="Send Answer" value="Send Answer">
        <a class="btn btn-primary" href="{% url 'survey:result' %}?survey_collection_id={{ image.survey_collection_id }}" >Go back</a>
    </div>
</form>